.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
  border: 0.25rem solid #7371ef;
  border-radius: 0.5rem;
  width: 16rem;
  background-color: #edf5ff;
  text-transform: capitalize;
}

.image {
  border-radius: 50%;
  border: 0.25rem solid #e8e800;
}

.id {
  background-color: #e8e800;
  color: #974400;
  border-radius: 5rem;
  padding: 0.125rem 1rem;
}

.types,
.stats {
  width: 100%;
}

.types,
.stats li {
  list-style-type: none;
}

.types {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.types li {
  color: #fff;
  border-radius: 5rem;
  padding: 0.125rem 1rem;
}

.stat {
  display: flex;
  justify-content: space-between;
}
.normal {
  background-color: #a8a77a;
}

.fire {
  background-color: #ee8130;
}

.water {
  background-color: #6390f0;
}

.grass {
  background-color: #7ac74c;
}

.electric {
  background-color: #f7d02c;
}

.ice {
  background-color: #96d9d6;
}

.fighting {
  background-color: #c22e28;
}

.poison {
  background-color: #a33ea1;
}

.ground {
  background-color: #e2bf65;
}

.flying {
  background-color: #a98ff3;
}

.psychic {
  background-color: #f95587;
}

.bug {
  background-color: #a6b91a;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #b7b7ce;
}

.fairy {
  background-color: #d685ad;
}

.stellar {
  background-color: #40b5a5;
}

.unknown {
  background-color: #68a090;
}
