.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3.5rem;
  background-image: linear-gradient(-10deg, #c97fe4, #aecdf6);
  background-size: cover;
}

.heading {
  text-align: center;
  margin-top: 3.5rem;
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(to right, #8a0194, #193cb8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.6;
}

.btnPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3.5rem;

  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: #ffffff;

  background-image: linear-gradient(to right, #ffb900, #f87171);
  border-radius: 9999px;

  cursor: pointer;
  border: none;
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
